*{
    margin: auto;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}
footer{
  width: 100%;
}
.tablapoke{
  width: 40%;
  border-collapse: collapse;
  background-image: url(img/pokeballfondo.png);
  background-position: 1%;
  
    border-radius: 30px;  
}
th{
  text-align: center;
  
}
td{
  text-align: center;
}
tr{
  text-align: center;
}

.cabecita{
  display: block;
}
body{
    background-color: orangered;
    
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
h2{
    margin-top: 40px;
    text-align: center;
}
h3{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
h4{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
b{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
p{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
a{
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(3, 1fr);
    }
}
.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}
---------------------------------

nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 0.5cm;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 253, 253);
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
  .menu {
    width: 1500;
    display: flex;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .listapokemon{
    position: relative;
    list-style: none;
    padding-left: 2cm;
    list-style-image: url(img/Poke_Ball_Sprite.png);
    font-size: 1.5em;
  }

  

